html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

h1 {
    font-family: 'Recursive', sans-serif;
    font-size: 10vh;
    z-index: 1;
    color: white;
    background-color: #4F9EC4;
    padding: 30px;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 90vh;
    margin-top: 10vh;
}

#jay{
    height: 80vh;
    float: right;
}

#brussels{
    height: 80vh;
}

.smooth {
    transition: all 1.5s ease-out;
}

.smooth-fast {
    transition: all .5s ease-out;
}

.up {
    transform: translateY(-20px);
}

.down{
    transform: translateY(20px);
}

.left {
    transform: translateX(-20px);
}

.hidden{
    opacity: 0;
}

section{
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
    height: 80vh;
}

.centre{
    position: relative;
    top:0;
    left:0;
    height: 80vh;
    width: 80vw;
    /* background-color: rgba(0,0,0,0.1);  */
}

#links{
    position: absolute;
    bottom:10vh;
    left: 20vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#squiggle img{
    filter: brightness(1.5);
    height: 16vh;
    margin-left: -4vh;
    margin-top: -4vh;
}

#links p{
    font-family: 'Libre Baskerville', serif;
    font-size: 3.5vh;
    margin: 1vh;
}

#squiggle{
    height: 8vh;
    width: 8vh;
    overflow: hidden;
}

#links a{
    text-decoration: none;
    color: rgb(70, 110, 138);
}

#scroll-top{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    padding: 0.1vh;
    background-color: rgb(70, 110, 138);
    color: white;
    text-align: center;
    font-size: 7vh;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
}

#scroll-top p{
    margin-top: 1vh;
}

#scroll-top:hover{
    background-color: rgb(48, 76, 97);
}

.side-text{
    float: right;
    background-color: #6CB2D1;
    width: 30vw;
    position: absolute;
    top:0;
    right: 0;
    height: 40vh;
    margin-top: 10vh;
    padding: 2vh;
    color: white;
    font-size: 2.5vh;
    font-family: 'Libre Baskerville', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-text p{
    /* height: 100%; */
    vertical-align: middle;
}

#contact a{
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    font-size: 4vh;
    color: #253d47;
}

#contact{
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact p {
    font-size: 4vh;
    margin: 0;
    margin-right: 2vw;
    text-align: left;
}

#contact-details{
    padding: 2vw;
    background-color: #7fc3e0;
}